.fbx filter=lfs diff=lfs merge=lfs -text
.obj filter=lfs diff=lfs merge=lfs -text
.png filter=lfs diff=lfs merge=lfs -text
.jpg filter=lfs diff=lfs merge=lfs -text
.jpeg filter=lfs diff=lfs merge=lfs -text
.hdr filter=lfs diff=lfs merge=lfs -text
.exr filter=lfs diff=lfs merge=lfs -text
.mp3 filter=lfs diff=lfs merge=lfs -text
.wav filter=lfs diff=lfs merge=lfs -text
.mp4 filter=lfs diff=lfs merge=lfs -text
.mov filter=lfs diff=lfs merge=lfs -text
.psd filter=lfs diff=lfs merge=lfs -text
.mb filter=lfs diff=lfs merge=lfs -text
.tga filter=lfs diff=lfs merge=lfs -text
.cubemap filter=lfs diff=lfs merge=lfs -text
.tif filter=lfs diff=lfs merge=lfs -text
.bin.fbx filter=lfs diff=lfs merge=lfs -text
.uasset filter=lfs diff=lfs merge=lfs -text
.umap filter=lfs diff=lfs merge=lfs -text
.upk filter=lfs diff=lfs merge=lfs -text
.udk filter=lfs diff=lfs merge=lfs -text
.duf filter=lfs diff=lfs merge=lfs -text
.blend filter=lfs diff=lfs merge=lfs -text
.ddp filter=lfs diff=lfs merge=lfs -text
Compressed.ddp filter=lfs diff=lfs merge=lfs -text
CachedAssetRegistry.bin filter=lfs diff=lfs merge=lfs -text
UE4.vcxproj.filters filter=lfs diff=lfs merge=lfs -text
UE4.vcxproj filter=lfs diff=lfs merge=lfs -text
Project_Hallway.vcxproj filter=lfs diff=lfs merge=lfs -text
Chr_FPS_N.uasset filter=lfs diff=lfs merge=lfs -text
Chr_FPS_Metal_02.uasset filter=lfs diff=lfs merge=lfs -text
Chr_FPS_Metal_01.uasset filter=lfs diff=lfs merge=lfs -text
Chr_FPS_M_03tga.uasset filter=lfs diff=lfs merge=lfs -text
Chr_FPS_D.uasset filter=lfs diff=lfs merge=lfs -text
UE4_Mannequin_normals.uasset filter=lfs diff=lfs merge=lfs -text
T_EmergencyButton_Rough.uasset filter=lfs diff=lfs merge=lfs -text
T_EmergencyButton_Diff.uasset filter=lfs diff=lfs merge=lfs -text
T_CeilingSign_normals.uasset filter=lfs diff=lfs merge=lfs -text
T_CeilingSign_Rough.uasset filter=lfs diff=lfs merge=lfs -text
T_Darkness_Shotgun_D.uasset filter=lfs diff=lfs merge=lfs -text
T_Darkness_RocketLauncher_N.uasset filter=lfs diff=lfs merge=lfs -text
T_Darkness_RocketLauncher_Masks.uasset filter=lfs diff=lfs merge=lfs -text
T_Darkness_RocketLauncher_D.uasset filter=lfs diff=lfs merge=lfs -text
T_Darkness_Knife_N.uasset filter=lfs diff=lfs merge=lfs -text
T_Darkness_GrenadeLauncher_N.uasset filter=lfs diff=lfs merge=lfs -text
T_Darkness_GrenadeLauncher_Masks.uasset filter=lfs diff=lfs merge=lfs -text
T_Darkness_GrenadeLauncher_D.uasset filter=lfs diff=lfs merge=lfs -text
T_Explosion_Heat_A_01.uasset filter=lfs diff=lfs merge=lfs -text
T_Explosion_Density_A_Normals_01.uasset filter=lfs diff=lfs merge=lfs -text
T_Darkness_SniperRifle_Masks.uasset filter=lfs diff=lfs merge=lfs -text
T_Darkness_SniperRifle_D.uasset filter=lfs diff=lfs merge=lfs -text
T_Smoke_8x8_B_01.uasset filter=lfs diff=lfs merge=lfs -text
T_Plasma_B_01.uasset filter=lfs diff=lfs merge=lfs -text
T_Plasma_A_01.uasset filter=lfs diff=lfs merge=lfs -text
sw_Amb_Bed_Sanctuary_LP.uasset filter=lfs diff=lfs merge=lfs -text
sw_Amb_Bed_HighRise_Room_LP.uasset filter=lfs diff=lfs merge=lfs -text
sw_Amb_Bed_HighRise_Atrium_LP.uasset filter=lfs diff=lfs merge=lfs -text
sw_Amb_Wind_LP.uasset filter=lfs diff=lfs merge=lfs -text
LoadingScreen.webm filter=lfs diff=lfs merge=lfs -text
MagGun_02_N.uasset filter=lfs diff=lfs merge=lfs -text
MagGun_01_N.uasset filter=lfs diff=lfs merge=lfs -text
MagGunT2_shade.uasset filter=lfs diff=lfs merge=lfs -text
MagGunT2_section.uasset filter=lfs diff=lfs merge=lfs -text
MagGunT1_shade.uasset filter=lfs diff=lfs merge=lfs -text
MagGunT1_section.uasset filter=lfs diff=lfs merge=lfs -text
Launcher_01_N.uasset filter=lfs diff=lfs merge=lfs -text
Launcher_02_N.uasset filter=lfs diff=lfs merge=lfs -text
LauncherT2_shade.uasset filter=lfs diff=lfs merge=lfs -text
LauncherT2_section.uasset filter=lfs diff=lfs merge=lfs -text
bal_r2.uasset filter=lfs diff=lfs merge=lfs -text
bal_m.uasset filter=lfs diff=lfs merge=lfs -text
T_Steam_subUV.uasset filter=lfs diff=lfs merge=lfs -text
T_Steam_02_Packed.uasset filter=lfs diff=lfs merge=lfs -text
T_blood_various_N.uasset filter=lfs diff=lfs merge=lfs -text
Launcher.uasset filter=lfs diff=lfs merge=lfs -text
T_Carpet_N.uasset filter=lfs diff=lfs merge=lfs -text
T_Carpet_M.uasset filter=lfs diff=lfs merge=lfs -text
FPS_Vista_Planet_D.uasset filter=lfs diff=lfs merge=lfs -text
main_front.uasset filter=lfs diff=lfs merge=lfs -text
T_explo_SubUV.uasset filter=lfs diff=lfs merge=lfs -text
